{% extends 'base.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block body %}


	<div class="album py-5 bg-dark">
		<div class="container">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="col">
					<div class="card shadow-sm">

						<div class="card-body bg-dark">
							<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quae quibusdam debitis eligendi excepturi enim deserunt quam blanditiis dolorem similique sunt facere sequi culpa iure, adipisci tenetur ipsam? Nisi, quibusdam.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endblock %}
