{% extends 'base.html.twig' %}

{% block title %}Portfolio de Victor Besson
{% endblock %}

{% block body %}
	<div class="container container card shadow p-3 mb-4 bg-dark rounded">
		<h1>Victor Besson, développeur Web</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci excepturi ex temporibus distinctio voluptatem dolores, quibusdam vitae molestiae. Ut explicabo error voluptatem numquam iusto laboriosam asperiores iure nisi, nulla molestias omnis eaque, odio ab nihil at voluptatibus quis? Hic temporibus maxime esse placeat nemo quod et quibusdam vero. Sapiente, dolorem.</p>
	</div>
{% endblock %}
