html {
  font-size: 1.2rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.8rem;
  }
}

body {
  background-image: url("../image/background.jpg");
  background-size: cover;
}

header {
  font-size: x-large;
}
